<% content_for :content do %>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <section class="panel">
          <div class="panel-body">

            <%= render :partial => "comentarios/comentario", :locals => {:comentario => @comentario} %>

          </div>
        </section>
      </div>
    </div>


<% end %>