<% content_for :content do %>

        <div class="row" style="position:absolute; top: 50%; margin:-100px 0 0 0;">
          <div class="col-lg-2"></div>

          <div class="col-xs-12 col-lg-8">
            <section class="panel">
              <div class="panel-body">

                <h1 style="text-align: center">Seu cadastro está quase finalizado...</h1>

                <p>Nós enviamos um email para <b><%= notice %></b> com um link para você realizar a ativação do seu cadastro.
                Essa medida é importante pois o EstagiandoUFF é um sistema fechado para alunos da Universidade Federal Fluminense,
                portanto precisamos verificar se o seu email <b>@id.uff.br</b> é válido.</p>
                <p style="text-align: center">Você será redirecionado para página inicial em alguns segundos...
                <br><span style="font-size: 8.5pt; color: #989595;">Se não quiser esperar, <a href="<%= root_path %>">clique aqui.</a></span></p>

                <script type="text/javascript">
                  $(document).ready(function() {
                    setTimeout(function () {
                        window.location.href = "<%= root_path %>"; //will redirect to your blog page (an ex: blog.html)
                    }, 3000);
                  })
                </script>

              </div>
            </section>
          </div>
        </div>

<% end %>