<% content_for :content do %>
    <section id="main-content">
      <section class="wrapper">
        <!--overview start-->

        <div class="row">
          <div class="col-xs-12 col-lg-8">
            <section class="panel">
              <div class="panel-body"></div>
            </section></div>


          <div class="col-xs-6 col-lg-4">

            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#login"><i class="fa fa-user"></i> Login</a>
              </li>
              <li><a data-toggle="tab" href="#cadastro"><i class="fa fa-plus"></i> Cadastro</a></li>
            </ul>
            <div class="tab-content panel">
              <div id="login" class="tab-pane panel-body fade in active">

                <p style="margin-top: 5px;">Faça login utilizando seu email <b>@id.uff.br</b>.</p>
                <p style="margin-bottom: 20px;">Se essa for a sua primeira visita ao <b>EstagiandoUFF</b>, será necessário realizar um <a href="<% new_usuario_path %>">cadastro</a>.</p>

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="loginEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="email" class="form-control" id="loginEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="loginSenha" class="col-lg-2 control-label">Senha</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="loginSenha" placeholder="Senha">
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="text-align: center">
                      <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                  </div>
                </form>


              </div>

              <div id="cadastro" class="tab-pane panel-body fade">
                <p style="margin-top: 5px;">Faça já o seu cadastro no <b>EstagiandoUFF</b>.</p>
                <p style="margin-bottom: 20px;">Por ser um sistema exclusivo para alunos da UFF, você deve efetuar seu cadastro usando seu email <b>@id.uff.br</b></p>

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="cadastroNome" class="col-lg-2 control-label">Nome</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="cadastroNome" placeholder="Nome">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cadastroEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="email" class="form-control" id="cadastroEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cadastroSenha" class="col-lg-2 control-label">Senha</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="cadastroSenha" placeholder="Senha">
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="text-align: center">
                      <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>


        <!-- project team & activity end -->
      </section>
    </section>
<% end %>