<% content_for :content do %>

    <h1><i class="fa fa-user"></i> Lista de Usuários</h1>

    <ol class="breadcrumb" style="margin-top: 30px;">
      <li><i class="fa fa-home"></i><a href="<%= root_path %>">Início</a></li>
      <li><i class="fa fa-user"></i><a href="<%= usuarios_path %>">Usuários</a></li>
      <li><i class="fa fa-plus"></i>Lista de Usuários</li>
    </ol>

<% end %>