<link href="/assets/font-awesome.min.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/line-icons.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/jquery.easy-pie-chart.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/bootstrap-fullcalendar.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/bootstrap-theme.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/elegant-icons-style.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/font-awesome.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/owl.carousel.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/jquery-jvectormap-1.2.2.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/fullcalendar.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/widgets.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/style.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/style-responsive.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/xcharts.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/jquery-ui-1.10.4.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.tokeninput.js?body=1" type="text/javascript"></script>
<script src="/assets/Chart.js?body=1" type="text/javascript"></script>
<script src="/assets/additional-methods.min.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-switch.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-wysiwyg-custom.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-wysiwyg.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap.min.js?body=1" type="text/javascript"></script>
<script src="/assets/charts.js?body=1" type="text/javascript"></script>
<script src="/assets/form-validation-script.js?body=1" type="text/javascript"></script>
<script src="/assets/fullcalendar.js?body=1" type="text/javascript"></script>
<script src="/assets/fullcalendar.min.js?body=1" type="text/javascript"></script>
<script src="/assets/ga.js?body=1" type="text/javascript"></script>
<script src="/assets/gdp-data.js?body=1" type="text/javascript"></script>
<script src="/assets/gritter.js?body=1" type="text/javascript"></script>
<script src="/assets/html5shiv.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-jvectormap-1.2.2.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-jvectormap-world-mill-en.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-ui-1.10.4.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-ui-1.9.2.custom.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.autosize.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.customSelect.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.easy-pie-chart.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.flot.pie.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.hotkeys.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.knob.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.localscroll.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.nicescroll.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.placeholder.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.rateit.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.scrollTo.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.slimscroll.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.smartWizard.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.sparkline-11.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.sparkline.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.stepy.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.tagsinput.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.validate.min.js?body=1" type="text/javascript"></script>
<script src="/assets/lte-ie7.js?body=1" type="text/javascript"></script>
<script src="/assets/morris.min.js?body=1" type="text/javascript"></script>
<script src="/assets/owl.carousel.js?body=1" type="text/javascript"></script>
<script src="/assets/scripts.js?body=1" type="text/javascript"></script>
<script src="/assets/sliders.js?body=1" type="text/javascript"></script>
<script src="/assets/sparkline-chart.js?body=1" type="text/javascript"></script>
<script src="/assets/sparklines.js?body=1" type="text/javascript"></script>
<script src="/assets/xcharts.min.js?body=1" type="text/javascript"></script>
<script src="/assets/application.js?body=1" type="text/javascript"></script>