<% content_for :content do %>
    <section id="main-content">
      <section class="wrapper">
        <h1><i class="fa fa-building-o fa-lg"></i> Editar Empresa</h1>

        <ol class="breadcrumb" style="margin-top: 30px; margin-bottom: 0px !important;">
          <li><i class="fa fa-home"></i><a href="<% root_path %>">Início</a></li>
          <li><i class="fa fa-building"></i><a href="<% empresas_path %>">Empresas</a></li>
          <li><i class="fa fa-plus"></i>Editar Empresa</li>
        </ol>

        <%= render 'form' %>

      </section>
    </section>
<% end %>