<% content_for :content do %>
    <section id="main-content">
      <section class="wrapper">
        <h1>Cadastro de Empresa</h1>

        <%= render 'form' %>

      </section>
    </section>
<% end %>
