<% content_for :content do %>
    <section id="main-content">
      <section class="wrapper">
        <p id="notice"><%= notice %></p>

        <p>
          <b>Nome:</b>
          <%= @empresa.nome %>
        </p>

        <%= link_to 'Editar', edit_empresa_path(@empresa) %> |
        <%= link_to 'Voltar', empresas_path %>
      </section>
    </section>
<% end %>