<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li class="active">
        <a class="" href="<%= root_path%>">
          <i class="fa fa-home fa-lg"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="active">
        <a class="" href="<%= empresas_path %>">
          <i class="fa fa-building-o fa-lg"></i>
          <span>Empresas</span>
        </a>
      </li>
      <li class="active">
        <a class="" href="<%= avaliacoes_path%>">
          <i class="fa fa-star fa-lg"></i>
          <span>Avaliações</span>
        </a>
      </li>
      <% if logged_in? && current_user.administrador %>
          <li class="active">
            <a class="" href="<%= usuarios_path%>">
              <i class="fa fa-user fa-lg"></i>
              <span>Usuários</span>
            </a>
          </li>
      <%end%>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>